
<div>
	<a href="/basket/add">Add basket</a>
</div>

<h2>Baskets</h2>

<table>
	<tr>
		<th>Basket name</th>
		<th>Qty</th>
		<th>Total cost</th>
	</tr>
	{{#each baskets}}
	<tr>
		<td>{{description}}</td>
		<td>
			<a href="/basket/edit">Edit</a>
		</td>
	</tr>
	{{/each}}
</table>